<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thepeaklab.module.windykotlin">

    <application android:supportsRtl="true">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:readPermission="${applicationId}.fileprovider.READ">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>
